class ClassName
{
    Dictionary<int, string> dictionary = new Dictionary<int, string> { [1] = "one" };

    Dictionary<int, string> dictionary = new Dictionary<int, string>
    {
        [1] = "one_________________________________________________________________"
    };

    Dictionary<int, string> dictionary = new Dictionary<int, string>
    {
        [1] = "one",
        [2] = "two_"
    };
}
